<table class='table table-bordered'>
    <thead>
        <tr>
            <th>用户</th>
            <th>IP</th>
            <th>反馈内容</th>
            <th>反馈时间</th>
        </tr>
    </thead>
    <tbody>
        <% feedbacks.forEach((f) => { %>
        <tr>
            <td><%= f.userID ? logins.findByuserID(f.userID).username : '' %></td>
            <td><%= f.ip %></td>
            <td><%= f.content %></td>
            <td><%= moment_format(f.created_at) %></td>
        </tr>
        <% }) %>
    </tbody>
</table>