<% if (contest.notices.length > 0) { %>
    <div class="alert alert-info" role="alert">
        <div class="notices-list-short">
        <% for(var i = 0; i < contest.notices.length && i < 3; i ++) { %>
            <a href="#" class="notice-btn" data-id="<%= contest.notices[i]._id %>">
                [公告] [<%= moment_format_short(contest.notices[i].datetime) %>] <%= contest.notices[i].title %>
                <% if (is_moment_new(contest.notices[i].datetime)) { %>
                    <spin style="color:red">[新]</spin>
                <% } %>
            </a><br/>
        <% } %>
        <% if (contest.notices.length > 3) { %>
            <a href="#" class="notices-more-btn">[公告] ...更多</a><br/>
        <% } %>
        </div>
        <div class="notices-list-all" style="display: none">
        <% for(var i = 0; i < contest.notices.length; i ++) { %>
            <a href="#" class="notice-btn" data-id="<%= contest.notices[i]._id %>">
                [公告] [<%= moment_format_short(contest.notices[i].datetime) %>] <%= contest.notices[i].title %>
            </a><br/>
        <% } %>
        </div>
    </div>
<% } %>
