<% if (contest.notices.length > 0) { %>
    <div class="alert alert-info" role="alert">
        <div id="notices-list-short">
        <a href="#" class="notice-btn" data-id="<%= contest.notices[0]._id %>">[公告] [<%= moment_format_short(contest.notices[0].datetime) %>] <%= contest.notices[0].title %></a><br/>
        <% if (contest.notices.length > 1) { %>
            <a href="#" id="notices-more-btn">[公告] ...更多</a><br/>
        <% } %>
        </div>
        <div id="notices-list-all" style="display: none">
        <% for(var i = 0; i < contest.notices.length; i ++) { %>
            <a href="#" class="notice-btn" data-id="<%= contest.notices[i]._id %>">[公告] [<%= moment_format_short(contest.notices[i].datetime) %>] <%= contest.notices[i].title %></a><br/>
        <% } %>
        </div>
    </div>
<% } %>