
.app-form-header {
    cursor: pointer;
}

#sidebar ul#dock li.launcher {
  margin-top: 45px;
}

.codeplus-footer {
  font-size: 12px;
  text-align: center;

  color: rgba(0,0,0,.3);
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  height: 80px;
  margin-left: 10px;
}

.login-brand img {
  height: 100px;
}

#wrapper {
  top: 100px;
}

#navbar .nav>li>a {
  padding: 25px 10px;
}

body.main {
  background-color: #EEE;
}

body.login {
  background-color: #EEE;
}
