<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛列表
  </div>
  <div class='panel-body'>
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th class="text-center">标题</th>
          <th class="text-center">开始报名时间</th>
          <th class="text-center">结束报名时间</th>
          <th class="text-center">no</th>
          <th class="text-center">是否公开</th>
          <th class="text-center">是否已停止快递填写</th>
          <th class="text-center">获奖快递信息</th>
          <th class="text-center">统计</th>
        </tr>
      </thead>
      <tbody>
        <% contests.forEach((c) => { %>
          <tr>
            <td><a href="/admin/contests/<%= c._id %>"><%= c.title %></a></td>
            <td><%= moment_format(c.begin_sign_time) %></td>
            <td><%= moment_format(c.end_sign_time) %></td>
            <td><%= c.no %></td>
            <td><%= c.public ? '是' : '否' %></td>
            <td><%= c.express_info_end ? '是' : '否' %></td>
            <td><a href="/admin/contests/<%= c._id %>/express_info">快递信息</a></td>
            <td>
              <a href="/admin/contests/<%= c._id %>/signs_statistic">报名人数</a> |
              <a href="/admin/contests/<%= c._id %>/signs_info">报名表</a> | 
              <a href="/admin/contests/<%= c._id %>/signs_pass_download">报名帐号</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    工具
  </div>
  <div class='panel-body'>
    <form class="form-horizontal" method="post" action="/admin/contests/create_contest">
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-1">
          <button type="submit" class="btn btn-default">创建比赛</button>
        </div>
      </div>
    </form>
  </div>
</div>
