<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛《<%= contest.title %>》
  </div>
  <div class='panel-body'>
    <form class="form-horizontal" action="/admin/contests/<%= contest._id %>" method="post">
      <div class="form-group">
        <label class="col-sm-2 control-label">标题(不能有空白字符)</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" placeholder="标题" value="<%= contest.title %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">开始报名时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="begin_sign_time" placeholder="开始报名时间" value="<%= moment_format(contest.begin_sign_time) %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">结束报名时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="end_sign_time" placeholder="结束报名时间" value="<%= moment_format(contest.end_sign_time) %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">比赛开始时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="begin_contest_time" placeholder="比赛开始时间" value="<%= moment_format(contest.begin_contest_time) %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">比赛结束时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="end_contest_time" placeholder="比赛结束时间" value="<%= moment_format(contest.end_contest_time) %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">本地仓库名称(不能有空白字符)</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="repository_local_name" placeholder="本地仓库名称" value="<%= contest.repository_local_name %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">no</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="no" placeholder="no" value="<%= contest.no %>">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="public" <%= contest.public ? 'checked' : '' %>>公开
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">比赛描述（markdown）</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="description" placeholder="比赛描述"><%= contest.description %></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">报名须知（markdown）</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="terms" placeholder="报名须知"><%= contest.terms %></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">排名说明（markdown）</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="rank_msg" placeholder="排名说明"><%= contest.rank_msg %></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          div1排名
          <p class="help-block">
            纯文本<br/>第一行是表头(rank=排名,id=username)<br/>每行一个，行内\t隔开
          </p>
        </label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="div1_ranklist" placeholder="div1排名"><%= contest.div1_ranklist %></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">div2排名
          <p class="help-block">
            纯文本<br/>第一行是表头(rank=排名,id=username)<br/>每行一个，行内\t隔开
          </p>
        </label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="div2_ranklist" placeholder="div2排名"><%= contest.div2_ranklist %></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">更新</button>
          <a href="/admin/contests/<%= contest._id %>/preview">预览（请更新之后再预览）</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛《<%= contest.title %>》的获奖选手
  </div>
  <div class='panel-body'>
    <form class="form-horizontal" action="/admin/contests/<%= contest._id %>/update_award" method="post">
      <div class="form-group">
        <label class="col-sm-2 control-label">获奖选手(每行一个username)</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="userlist" placeholder="获奖选手(每行一个ID)"><%- award_names.join('\n') %></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>