<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛列表
  </div>
  <div class='panel-body'>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>标题</th>
          <th>开始报名时间</th>
          <th>结束报名时间</th>
          <th>no</th>
          <th>是否公开</th>
          <th>获奖快递信息</th>
        </tr>
      </thead>
      <tbody>
        <% contests.forEach((c) => { %>
          <tr>
            <td><a href="/admin/contests/<%= c._id %>"><%= c.title %></a></td>
            <td><%= moment_format(c.begin_sign_time) %></td>
            <td><%= moment_format(c.end_sign_time) %></td>
            <td><%= c.no %></td>
            <td><%= c.public ? '是' : '否' %></td>
            <td><a href="/admin/contests/<%= c._id %>/express_info">快递信息</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>