<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛《<%= contest.title %>》的快递信息
  </div>
  <div class='panel-body'>
    <h4>总数：<small><%= total_count %></small></h4>
    <h4>已填：<small><%= filled_count %></small></h4>
    <h4>未填：<small><%= unfilled_count %></small></h4>
    <a href="/admin/contests/<%= contest._id %>/express_info_download?encoding=utf-8">下载(UTF-8)</a>
    <a href="/admin/contests/<%= contest._id %>/express_info_download?encoding=gbk">下载(GBK)</a>
    <% var lines = express_lines; %>
    <% include includes/lines_table %>
  </div>
</div>