<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛《<%= contest.title %>》
  </div>
  <div class='panel-body'>
    <form class="form-horizontal" action="/admin/contests/<%= contest._id %>" method="post">
      <div class="form-group">
        <label class="col-sm-2 control-label">标题(不能有空白字符)</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" placeholder="标题" value="<%= contest.title %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">开始报名时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="begin_sign_time" placeholder="开始报名时间" value="<%= moment_format(contest.begin_sign_time) %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">结束报名时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="end_sign_time" placeholder="结束报名时间" value="<%= moment_format(contest.end_sign_time) %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">比赛开始时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="begin_contest_time" placeholder="比赛开始时间" value="<%= moment_format(contest.begin_contest_time) %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">比赛结束时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="end_contest_time" placeholder="比赛结束时间" value="<%= moment_format(contest.end_contest_time) %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">本地仓库名称(不能有空白字符)</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="repository_local_name" placeholder="本地仓库名称" value="<%= contest.repository_local_name %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">no</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="no" placeholder="no" value="<%= contest.no %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">比赛</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="contests" placeholder="contests,','分隔" value="<%= contest.contests.join(' , ') %>">
        </div>
      </div>
      <% contest.contests.forEach((type) => { %>
      <div class="form-group">
        <label class="col-sm-2 control-label"><%= type %>比赛ID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="<%= type %>_contest_id" placeholder="<%= type %>比赛ID" value="<%= contest.contest_ids[type] %>">
        </div>
      </div>
      <% }) %>
      <div class="form-group">
        <label class="col-sm-2 control-label">练习赛ID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="practise_contest_id" placeholder="练习赛ID" value="<%= contest.contest_ids['practise'] %>">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="express_info_end" <%= contest.express_info_end ? 'checked' : '' %>>快递填写结束？
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="public" <%= contest.public ? 'checked' : '' %>>公开？
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">比赛描述（markdown）</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="description" placeholder="比赛描述"><%= contest.description %></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">报名须知（markdown）</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="terms" placeholder="报名须知"><%= contest.terms %></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">排名说明（markdown）</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="rank_msg" placeholder="排名说明"><%= contest.rank_msg %></textarea>
        </div>
      </div>
      <% contest.contests.forEach((type) => { %>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <%= type %>排名
          <p class="help-block">
            纯文本<br/>第一行是表头(rank=排名,id=username)<br/>每行一个，行内tab隔开
          </p>
        </label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="<%= type %>_ranklist" placeholder="<%= type %>排名"><%= contest.ranklist[type] %></textarea>
        </div>
      </div>
      <% }) %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">更新</button>
          <a href="/admin/contests/<%= contest._id %>/preview">预览（请更新之后再预览）</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛《<%= contest.title %>》的获奖选手
  </div>
  <div class='panel-body'>
    <form class="form-horizontal" action="/admin/contests/<%= contest._id %>/update_award" method="post">
      <div class="form-group">
        <label class="col-sm-2 control-label">
          获奖选手
          <p class="help-block">
            每行一个username
          </p>
        </label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="userlist" placeholder="获奖选手(每行一个ID)"><%- award_names.join('\n') %></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛《<%= contest.title %>》的奖品信息
  </div>
  <div class='panel-body'>
    <form class="form-horizontal" action="/admin/contests/<%= contest._id %>/update_price_info" method="post">
      <div class="form-group">
        <label class="col-sm-2 control-label">
          奖品信息
          <p class="help-block">
            第一列username，第二列快递公司，第三列快递编号，第四列奖品名称
          </p>
        </label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="price_info"><%- price_info.map(x => x.join('\t')).join('\n') %></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛《<%= contest.title %>》的Rating
  </div>
  <div class='panel-body'>
    <form class="form-horizontal" action="/admin/contests/<%= contest._id %>/update_rating_info" method="post">
      <div class="form-group">
        <label class="col-sm-2 control-label">
          Rating
          <p class="help-block">
            第一列username，第二列之前的rating,第三列是现在的rating,第四列是变化量
          </p>
        </label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="rating_info"><%- rating_info.map(x => x.join('\t')).join('\n') %></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'>
      <i class='icon-edit icon-large'></i>
      比赛《<%= contest.title %>》的公告
    </div>
    <div class='panel-body'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>标题</th>
            <th>内容</th>
            <th>隐藏名</th>
            <th>时间</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% contest.notices = contest.notices || []; %>
          <% contest.notices.forEach(notice => { %>
            <tr class="notice-<%= notice._id %>">
              <td class="notice-title"><%= notice.title %></td>
              <td class="notice-content"><%= notice.content %></td>
              <td class="notice-hidden_names"><%= notice.hidden_names %></td>
              <td><%= moment_format(notice.datetime) %></td>
              <td>
                <a href="/admin/contests/<%= contest._id %>/delete_notice?notice_id=<%= notice._id %>">删除</a>
                <a href="#" class="notice-modify-btn" data-id="<%= notice._id %>">修改</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <form class="form-horizontal" id="notice-form" action="/admin/contests/<%= contest._id %>/create_notice" method="post">
        <div class="form-group">
          <label class="col-sm-2 control-label">
            标题
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title" placeholder="标题">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">
            隐藏名(用,分隔)
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="hidden_names" placeholder="隐藏名">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">
            内容(markdown)
          </label>
          <div class="col-sm-10">
            <textarea class="form-control" name="content" rows="3" placeholder="内容"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">新建公告</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    $('.notice-modify-btn').click(function() {
      var id = $(this).attr('data-id');
      var tr = $('.notice-' + id);
      $('#notice-form').attr('action', '/admin/contests/<%= contest._id %>/modify_notice?notice_id='+id);
      $('#notice-form').find("[name=title]").val(tr.find('.notice-title').text());
      $('#notice-form').find("[name=content]").val(tr.find('.notice-content').text());
      $('#notice-form').find("[name=hidden_names]").val(tr.find('.notice-hidden_names').text());
      $('#notice-form').find('button').text('修改公告');
    });
  </script>