<div class='panel panel-default'>
  <div class='panel-body'>
    <form class="form-horizontal" action="/admin/su" method="post">
      <div class="form-group">
        <label class="col-sm-2 control-label">su</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="username" placeholder="username">
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">切换</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>
    邮件管理
  </div>
  <div class='panel-body'>
    <ul>
      <li><a href="/admin/email_templates">邮件模板列表</a></li>
      <li><a href="/admin/email_send_list">邮件发送任务</a></li>
      <li><a href="/admin/email_create">新建发送任务</a></li>
      <li><a href="/admin/email_blacklist">取消订阅的邮箱名单</a></li>
    </ul>
  </div>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>
    近期反馈
  </div>
  <div class='panel-body filters'>
    <div class='row'>
      <div class='col-md-9'>
        <ul>
          <li><a href="/admin/feedbacks">全部反馈</a></li>
        </ul>
      </div>
    </div>
  </div>
  <% include includes/feedbacks %>
</div>
