<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    邮件模板列表
  </div>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>#</th>
        <th>模板名称</th>
        <th>变量</th>
        <th>创建时间</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% templates.forEach((t) => { %>
        <tr id="email_template_<%= t._id %>">
          <td name="id"><%= t._id %></td>
          <td name="title"><%= t.title %></td>
          <td name="default_env"><%= JSON.stringify(t.default_env, null, 4) %></td>
          <td><%= moment_format(t.created_at) %></td>
          <td>
            <a target="_blank" href="/admin/email_templates/<%= t._id %>/preview">预览</a> |
            <a style="cursor: pointer" onclick="modifyTemplate('<%= t._id %>')">修改</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    创建/修改邮件模板
  </div>
  <div class='panel-body'>
    <form id="email_template_form" action="/admin/email_templates" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label>标题</label>
        <input type="text" class="form-control" name="title" placeholder="标题">
      </div>
      <div class="form-group">
        <label>模板</label>
        <input type="file" class="form-control" name="content">
      </div>
      <div class="form-group">
        <label>默认变量(JSON格式)</label>
        <textarea class="form-control" rows=5 name="default_env" placeholder="默认变量"></textarea>
      </div>
      <button type="submit" class="btn btn-default">创建模板</button>
    </form>
  </div>
</div>
<script>
  function modifyTemplate(id) {
    let tr = $('#email_template_'+id);
    let form = $('#email_template_form');
    form.find('[name=title]').val(tr.find('[name=title]').text());
    form.find('[name=content]').val('');
    form.find('[name=default_env]').val(tr.find('[name=default_env]').text());
    form.find('button').text('修改模板');
    form.attr('action', '/admin/email_templates/'+id);
  }
</script>