<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛列表
  </div>
  <div class='panel-body'>
    <table class="table table-striped">
      <tbody>
        <% contests.forEach((c) => { %>
          <tr>
            <td><a href="/contests/<%= c._id %>"><%= c.title %></a></td>
            <td><a class="msg-link" data-for="<%= c._id %>" href="#">排名</a></td>
            <td><a class="problem-link" href="/contests/<%= c._id %>">题目</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<% contests.forEach((c) => { %>
  <div class="overlap-wrapper" id="msg-<%= c._id %>" style="display: none">
    <div class="overlap-content">
      <div class="panel">
        <div class="panel-body">
          <%- c.rank_msg ? md.render(c.rank_msg) : '' %>
          <hr/>
          <a href="/contests/<%= c._id %>/ranklist/div1">div1排名</a>
          <a href="/contests/<%= c._id %>/ranklist/div2">div2排名</a>
        </div>
      </div>
    </div>
  </div>
<% }) %>

<script>
  $(function() {
    $(".overlap-wrapper").click(function(e) {
      $(this).fadeOut(200);
    });
  
    $(".msg-link").click(function(e) {
      e.preventDefault();
      $(".overlap-wrapper#msg-" + $(this).attr('data-for')).fadeIn(200);
    });
  });
</script>