<div class='panel panel-default'>
  <div class='panel-heading'>
    <i class='icon-edit icon-large'></i>
    比赛列表
  </div>
  <div class='panel-body'>
    <table class="table table-striped" style="width: 100%; text-align: center">
      <tbody>
        <% contests.forEach((c) => { %>
          <tr>
            <td><a href="/contests/<%= c._id %>"><%= c.title %></a></td>
            <td>
              <% if (c.end_contest_time < Date.now() && c.div1_ranklist && c.div2_ranklist) { %>
                <a target="_blank" href="/contests/<%= c._id %>/ranklist/div1">div1</a> |
                <a target="_blank" href="/contests/<%= c._id %>/ranklist/div2">div2</a> |
                <a class="msg-link" data-for="<%= c._id %>" href="#">排名说明</a>
              <% } else { %>
                <del>div1</del> | <del>div2</del> | <del>排名说明</del>
              <% } %>
            </td>
            <td>
              <% if (c.end_contest_time < Date.now() && c.repository_local_name) { %>
                <a class="problem-link" href="/contests/<%= c._id %>">题目</a>
              <% } else { %>
                <del>题目</del>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<% if (user) { %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <i class='icon-edit icon-large'></i>
      我参加过的比赛
    </div>
    <div class='panel-body'>
      <table class="table table-striped" style="width: 100%; text-align: center">
        <thead>
          <tr>
            <th>比赛名称</th>
            <th>场次</th>
            <th>排名</th>
            <th>Rating变化</th>
          </tr>
        </thead>
        <tbody>
          <% my_contests.forEach(c => { %>
            <% let sign = my_signs.findBycontestID(c._id); %>
            <tr>
              <td><a href="/contests/<%= c._id %>"><%= c.title %></a></td>
              <td><%= sign.type %></td>
              <td><%= sign.rank || "+1s" %></td>
              <td>
                <% if (sign.rating_before) { %>
                  <%= sign.rating_before %> <%= sign.rating_delta >= 0 ? '+' : '-' %> <%= Math.abs(sign.rating_delta) %> => <%= sign.rating_now %>
                <% } else { %>
                  暂无
                <% } %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
<% } %>

<% if (my_awards.length > 0) { %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <i class='icon-edit icon-large'></i>
      我的奖品信息
    </div>
    <div class='panel-body'>
      <table class="table table-striped" style="width: 100%; text-align: center">
        <thead>
          <tr>
            <th>比赛名称</th>
            <th>获奖信息</th>
          </tr>
        </thead>
        <tbody>
          <% my_awards.forEach(c => { %>
            <% let sign = my_signs.findBycontestID(c._id); %>
            <tr>
              <td><a href="/contests/<%= c._id %>"><%= c.title %></a></td>
              <td>
                <% if (c.end_contest_time < Date.now()) { %>
                  <%= !sign.has_award ? '你的奖品被捐给了蛤' : ( (sign.express_info_filled ? '已填签收地址' : '未写签收地址') +' | '+ (sign.express_no ? `${sign.prize_name}:${sign.express_name}(${sign.express_no})` : '已获奖，暂无快递信息') ) %>
                <% } else {%>
                  比赛未结束
                <% } %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
<% } %>

<% contests.forEach((c) => { %>
  <div class="overlap-wrapper" id="msg-<%= c._id %>" style="display: none">
    <div class="overlap-content">
      <div class="panel">
        <div class="panel-body">
          <div class="markdown-body">
            <%- c.rank_msg ? md.render(c.rank_msg) : '' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% }) %>

<script>
  $(function() {
    $(".overlap-wrapper").click(function(e) {
      $(this).fadeOut(200);
    });
  
    $(".msg-link").click(function(e) {
      e.preventDefault();
      $(".overlap-wrapper#msg-" + $(this).attr('data-for')).fadeIn(200);
    });
  });
</script>