<div class='panel panel-default'>
    <div class="panel-heading">直接反馈</div>
    <div class='panel-body'>
        <form action="/feedback" method="post" name="feedback-form">
            <textarea
                oninput="tryResize(event)"
                onkeydown="tryFeedback(event)"
                id="feedback-ta"
                rows="5"
                class="feedback-input"
                name="content"
                placeholder="这里是反馈意见，Ctrl+Enter 提交"></textarea>
        </form>
    </div>
</div>

<style>
    .feedback-input {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border-radius: 4px;

        border: none;
        padding: 10px 15px;
        font-size: 16px;
        line-height: 24px;
        font-family: PingfangSC, "Source Hans Sans SC", "NotoSansCJK SC", RobotoDraft, Roboto, Helvetica, sans-serif;
        background: #F0F0F0;
        box-shadow: rgba(0,0,0,.12) 0 2px 6px inset;
        resize: none;
    }
</style>
<script>
function tryResize(e) {
    let initial = 140;
    let target = e.target;
    target.style.height = initial;
    if(target.clientHeight < target.scrollHeight)
        target.style.height = target.scrollHeight;
}
function tryFeedback(e) {
    if(e.key === 'Enter' && e.ctrlKey)
        document["feedback-form"].submit();
}
</script>

<div class='panel panel-default'>
    <div class="panel-heading">反馈与支持</div>
    <div class='panel-body'>
        请发送邮件至 <a href="mailto:<%= email %>"><%= email %></a><br/>
        如果遇到了什么 Bug，也可以在这里告诉我们哦~ ❤ !<br/><br/>
        <div style="text-align:center">
            <img style="width: 80%" src="/assets/images/QQqun.jpg"/>
        </div>
    </div>
</div>
