<div class="panel smaller">
  <div class="panel-body">
    <div class="logo smaller">
      <a href="/">
        <img src="assets/images/cplogo.svg"></img>
      </a>
    </div>

    <div class="smaller-title">找回密码 - 第 1 步</div>

    <% include includes/flash %>

    <form method="post" action="/forgot_password_reset">
      <div class="cp-input-group">
        <label>邮箱</label>
        <div><%= email %></div>
        <input name="email" type="text" value="<%= email %>" style="display: none">
      </div>
      <div class="cp-input-group">
        <label>验证码</label>
        <input name="code" type='text'>
      </div>
      <div class="cp-input-group">
        <label>新密码</label>
        <input name="password" type='password' id="password">
      </div>
      <div class="cp-input-group">
        <label>确认密码</label>
        <input type='password' id="confirm_password">
      </div>
      <button type="submit" class="realbtn">重置密码</button>
    </form>
  </div>
  <div class="panel-footer">
    <a class="pull-left" href="/forgot_password_sendemail?email=<%= email %>">重新发送</a>
    <div class="clearfix"></div>
  </div>
</div>

<script>
  $(function () {
    $('form').submit(function () {
      if ($('#password').val() != $('#confirm_password').val()) {
        alert('两次输入的密码不一致');
        return false;
      }
      return true;
    });
  });
</script>
