<div class="panel smaller">
  <div class="panel-body">
    <div class="logo smaller">
      <a href="/">
        <img src="assets/images/cplogo.svg"></img>
      </a>
    </div>

    <div class="smaller-title">找回密码 - 第 0 步</div>

    <% include includes/flash %>

    <form method="get" action="/forgot_password_sendemail">
      <div class="cp-input-group">
        <label>邮箱</label>
        <input name="email" type='email'>
      </div>
      <button type="submit" class="realbtn">发送邮件</button>
    </form>
  </div>
  <div class="panel-footer">
    <a class="pull-left" href="/login">登录</a>
    <a class="pull-right" href="/register">注册</a>
    <div class="clearfix"></div>
  </div>
</div>
