<div class="panel smaller">
  <div class="panel-body">
    <div class="logo smaller">
      <a href="/">
        <img src="assets/images/cplogo.svg"></img>
      </a>
    </div>

    <div class="smaller-title">登录</div>

    <% include includes/flash %>

    <form method="post" action="/normal_login">
      <div class="cp-input-group">
        <label>用户名</label>
        <input name="username" type='text'>
      </div>
      <div class="cp-input-group">
        <label>密码</label>
        <input name="password" type='password'>
      </div>
      <button type="submit" class="realbtn">登录</button>
    </form>

    <br/>
    <a href="https://github.com/login/oauth/authorize?client_id=<%= OAUTH.GITHUB.CLIENT_ID %>&redirect_uri=<%= URL_PREFIX+'/github_callback' %>">
      <button class="login-with-github realbtn">
        <i class="fa fa-github"></i> Login with Github
      </button>
    </a>
  </div>
  <div class="panel-footer">
    <a class="pull-left" href="/register">注册</a>
    <a class="pull-right" href="/forgot_password">忘记密码</a>
    <div class="clearfix"></div>
  </div>
</div>
