<style>
  .switch_on_click {
    cursor: pointer;
  }

  .switch_on_click_mark {
    color: rgba(0, 0, 0, .3);
  }

  .switch_on_click_copy {
    cursor: pointer;
    color: rgba(0, 0, 0, .3);
  }
</style>

<div class='panel panel-default cp-edit'>
  <form method="post" action="/modify_nickname">
    <div class='panel-heading'>
      昵称
      <i class="hide-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible show-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>
    <div class='panel-body'>
      <div class="cp-input-group">
        <label>昵称</label>
        <div class="hide-on-edit cp-edit-display"><%= user.nickname %></div>
        <input type="text" class="show-on-edit" name="nickname" value="<%= user.nickname %>">
      </div>
    </div>
  </form>
</div>

<% if (normal_login) { %>
  <div class='panel panel-default cp-edit'>
    <form id="form-account" method="post" action="/modify_password">
    <div class='panel-heading'>
      帐号密码
      <i class="hide-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible show-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>

    <div class='panel-body'>
      <div class="cp-input-group">
        <label>用户名</label>
        <div><%= normal_login.username %></div>
      </div>
      <div class="cp-input-group">
        <label>密码</label>
        <div class="hide-on-edit cp-edit-display">[DELETED]</div>
        <input type="password" class="show-on-edit" name="password" id="password">
      </div>
      <div class="cp-input-group show-on-edit">
        <label>确认密码</label>
        <input type="password" class="show-on-edit" id="confirm_password">
      </div>
      <div class="cp-input-group hide-on-edit">
        <label>OJ帐号</label>
        <div><%= normal_login.oj_username %></div>
      </div>
      <div class="cp-input-group hide-on-edit">
        <label>OJ密码</label>
        <div>
          <spin class="switch_on_click switch_on_click_mark">[点击显示]</spin>
          <spin class="switch_on_click" style="display: none"><%= normal_login.oj_password %></spin>
        </div>
      </div>
    </div>
    </form>
  </div>
  <script>
    $(function() {
      $('.switch_on_click').click(function() {
        $('.switch_on_click').toggle();
      });
    });
  </script>
<% } else {%>
  <div class='panel panel-default cp-edit'>
    <form id="form-account" method="post" action="/create_account">
    <div class='panel-heading'>
      创建帐号
      <i class="show-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible hide-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>

    <div class='panel-body'>
      <div class="cp-input-group">
        <label>用户名</label>
        <input type="text" class="hide-on-edit" name="username" id="username">
      </div>
      <div class="cp-input-group">
        <label>密码</label>
        <input type="password" class="hide-on-edit" name="password" id="password">
      </div>
      <div class="cp-input-group hide-on-edit">
        <label>确认密码</label>
        <input type="password" class="hide-on-edit" id="confirm_password">
      </div>
    </div>
    </form>
  </div>
<% } %>
<script>
  $(function () {
    $('#form-account').submit(function () {
      if ($('#password').val() != $('#confirm_password').val()) {
        alert('两次输入的密码不一致');
        return false;
      }
      return true;
    });
  });
</script>

<div class='panel panel-default cp-edit'>
  <form method="post" action="/modify_email">
    <div class='panel-heading'>
      邮箱
      <i class="hide-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible show-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>
    <div class='panel-body'>
      <div class="cp-input-group">
        <label>关联邮箱</label>
        <div class="hide-on-edit cp-edit-display"><%= user.email || "暂无" %></div>
        <input type="text" class="show-on-edit" name="email" value="<%= user.email %>">
      </div>
    </div>
  </form>
</div>

<div class='panel panel-default cp-edit'>
  <form id="form-info" method="post" action="/modify_info">
    <div class='panel-heading'>
      基本资料
      <i class="hide-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible show-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>
    <div class='panel-body'>
      <div class="cp-input-group">
        <label>真实姓名</label>
        <div class="hide-on-edit cp-edit-display"><%= user.real_name || "不愿透露姓名的侠客" %></div>
        <input type="text" class="show-on-edit" name="real_name" value="<%= user.real_name %>">
      </div>
      <div class="cp-input-group">
        <label>学校</label>
        <div class="hide-on-edit cp-edit-display"><%= user.school || "家里蹲" %></div>
        <input type="text" class="show-on-edit" name="school" value="<%= user.school %>">
      </div>
      <div class="cp-input-group">
        <label>性别</label>
        <div class="hide-on-edit cp-edit-display"><%= user.sex || "未知" %></div>
        <select class="show-on-edit" name="sex" value="<%= user.sex %>">
          <option value="保密">保密</option>
          <option value="男">男</option>
          <option value="女">女</option>
          <option value="其他">其他</option>
        </select>
      </div>
      <div class="cp-input-group">
        <label>电话号码</label>
        <div class="hide-on-edit cp-edit-display"><%= user.phone_number || "369958" %></div>
        <input type="text" class="show-on-edit" name="phone_number" value="<%= user.phone_number %>">
      </div>
      <div class="cp-input-group">
        <label>联系地址</label>
        <div class="hide-on-edit cp-edit-display"><%= user.address || "幻想乡" %></div>
        <input type="text" class="show-on-edit" name="address" value="<%= user.address %>">
      </div>
      <div class="cp-input-group">
        <label>衣服尺寸</label>
        <div class="hide-on-edit cp-edit-display"><%= user.tshirt_size || "童装" %></div>
        <select class="show-on-edit" name="tshirt_size" value="<%= user.tshirt_size %>">
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          <option value="XXL">XXL</option>
        </select>
      </div>
    </div>
  </form>
</div>

<% if(contest_sign && contest_sign.has_award) { %>

<div class='panel panel-default cp-edit'>
  <form id="form-info" method="post" action="/modify_express">
    <div class='panel-heading'>
      比赛《<%= contest.title %>》的快递信息
      <div class="cp-sidenote">用于奖品</div>
      <i class="hide-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible show-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>
    <div class='panel-body'>
      <div class="cp-input-group">
        <label>收件人</label>
        <div class="hide-on-edit cp-edit-display"><%= contest_sign.receiver %></div>
        <input type="text" class="show-on-edit" name="receiver" value="<%= contest_sign.receiver %>">
      </div>
      <div class="cp-input-group">
        <label>收件人电话</label>
        <div class="hide-on-edit cp-edit-display"><%= contest_sign.phone %></div>
        <input type="text" class="show-on-edit" name="phone" value="<%= contest_sign.phone %>">
      </div>
      <div class="cp-input-group">
        <label>学校</label>
        <div class="hide-on-edit cp-edit-display"><%= contest_sign.school %></div>
        <input type="text" class="show-on-edit" name="school" value="<%= contest_sign.school %>">
        <div class="cp-sidenote">发往同一学校就读同学的快递将被合并,如果不想被合并请联系工作人员</div>
      </div>
      <div class="cp-input-group-row">
        <div class="cp-input-group">
          <label>省</label>
          <div class="hide-on-edit cp-edit-display"><%= contest_sign.prov %></div>
          <input type="text" class="show-on-edit" name="prov" value="<%= contest_sign.prov %>">
        </div>
        <div class="cp-input-group">
          <label>市</label>
          <div class="hide-on-edit cp-edit-display"><%= contest_sign.city %></div>
          <input type="text" class="show-on-edit" name="city" value="<%= contest_sign.city %>">
        </div>
        <div class="cp-input-group">
          <label>县(区)</label>
          <div class="hide-on-edit cp-edit-display"><%= contest_sign.county %></div>
          <input type="text" class="show-on-edit" name="county" value="<%= contest_sign.county %>">
        </div>
      </div>
      <div class="cp-input-group">
        <label>详细地址</label>
        <div class="hide-on-edit cp-edit-display"><%= contest_sign.addr %></div>
        <input type="text" class="show-on-edit" name="addr" value="<%= contest_sign.addr %>">
      </div>
    </div>
  </form>
</div>

<% } %>

<script>
  $(function() {
    $('select').each(function() {
      let value = $(this).attr('value');
      if (!value) return;
      $(this).find('option[value="' + value + '"]').attr('selected', true);
    });
  });
</script>

<script>
$(function () {
  $('.cp-edit .edit-btn').click(function () {
    var $root = $(this).parents('.cp-edit');
    console.log($root);
    $root.toggleClass("editing");
  });
});
</script>
