
<div class='panel panel-default cp-edit'>
  <form method="post" action="/modify_nickname">
    <div class='panel-heading'>
      昵称
      <i class="hide-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible show-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>
    <div class='panel-body'>
      <div class="cp-input-group">
        <label>昵称(不能有空白字符)</label>
        <div class="hide-on-edit cp-edit-display"><%= user.nickname %></div>
        <input type="text" class="show-on-edit" name="nickname" value="<%= user.nickname %>">
      </div>
    </div>
  </form>
</div>

<% if (normal_login) { %>
  <div class='panel panel-default cp-edit'>
    <form id="form-account" method="post" action="/modify_password">
    <div class='panel-heading'>
      帐号密码
      <i class="hide-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible show-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>

    <div class='panel-body'>
      <div class="cp-input-group">
        <label>用户名</label>
        <div><%= normal_login.username %></div>
      </div>
      <div class="cp-input-group">
        <label>密码</label>
        <div class="hide-on-edit cp-edit-display">[DELETED]</div>
        <input type="password" class="show-on-edit" name="password" id="password">
      </div>
      <div class="cp-input-group show-on-edit">
        <label>确认密码</label>
        <input type="password" class="show-on-edit" id="confirm_password">
      </div>
    </div>
    </form>
  </div>
<% } else {%>
  <div class='panel panel-default cp-edit'>
    <form id="form-account" method="post" action="/create_account">
    <div class='panel-heading'>
      创建帐号(创建之后用户名不能修改)
      <i class="show-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible hide-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>

    <div class='panel-body'>
      <div class="cp-input-group">
        <label>用户名</label>
        <input type="text" class="hide-on-edit" name="username" id="username">
      </div>
      <div class="cp-input-group">
        <label>密码</label>
        <input type="password" class="hide-on-edit" name="password" id="password">
      </div>
      <div class="cp-input-group hide-on-edit">
        <label>确认密码</label>
        <input type="password" class="hide-on-edit" id="confirm_password">
      </div>
    </div>
    </form>
  </div>
<% } %>
<script>
  $(function () {
    $('#form-account').submit(function () {
      if ($('#password').val() != $('#confirm_password').val()) {
        alert('两次输入的密码不一致');
        return false;
      }
      return true;
    });
  });
</script>

<div class='panel panel-default cp-edit'>
  <form method="post" action="/modify_email">
    <div class='panel-heading'>
      邮箱
      <% if (user.email) { %>
        <% if (blocked) {%>
          <small>已取消订阅,点击<a href="<%= email_subscribe %>">此处</a>重新订阅</small>
        <% } else { %>
          <small>已订阅Code+比赛官方邮件推送,点击<a href="<%= email_unsubscribe %>">此处</a>取消订阅</small>
        <% } %>
      <% } %>
      <i class="hide-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible show-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>
    <div class='panel-body'>
      <div class="cp-input-group">
        <label>关联邮箱</label>
        <div class="hide-on-edit cp-edit-display"><%= user.email || "暂无" %></div>
        <input type="text" class="show-on-edit" name="email" value="<%= user.email %>">
      </div>
    </div>
  </form>
</div>

<div class='panel panel-default cp-edit'>
  <form id="form-info" method="post" action="/modify_info">
    <div class='panel-heading'>
      基本资料(<%= user.info_filled ? '已填写' : '待填写' %>)
      <i class="hide-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible show-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>
    <div class='panel-body'>
      <div class="cp-input-group">
        <label>真实姓名</label>
        <div class="hide-on-edit cp-edit-display"><%= user.real_name || "不愿透露姓名的侠客" %></div>
        <input type="text" class="show-on-edit" name="real_name" value="<%= user.real_name %>">
      </div>
      <div class="cp-input-group">
        <label>学校</label>
        <div class="hide-on-edit cp-edit-display"><%= user.school || "家里蹲" %></div>
        <input type="text" class="show-on-edit" name="school" value="<%= user.school %>">
      </div>
      <div class="cp-input-group">
        <label>年级</label>
        <div class="hide-on-edit cp-edit-display"><%= user.grade || "小学一年级" %></div>
        <select class="show-on-edit" name="grade" value="<%= user.grade %>">
          <option value="小学">小学</option>
          <option value="初中">初中</option>
          <option value="高一">高一</option>
          <option value="高二">高二</option>
          <option value="高三">高三</option>
          <option value="大一">大一</option>
          <option value="大二">大二</option>
          <option value="大三">大三</option>
          <option value="大四">大四</option>
          <option value="研究生">研究生</option>
          <option value="已工作">已工作</option>
          <option value="其他">其他</option>
        </select>
      </div>
      <div class="cp-input-group">
        <label>专业(高中生及以下填“学生”)</label>
        <div class="hide-on-edit cp-edit-display"><%= user.major || "白学家" %></div>
        <input type="text" class="show-on-edit" name="major" value="<%= user.major %>">
      </div>
      <div class="cp-input-group">
        <label>性别</label>
        <div class="hide-on-edit cp-edit-display"><%= user.sex || "未知" %></div>
        <select class="show-on-edit" name="sex" value="<%= user.sex %>">
          <option value="保密">保密</option>
          <option value="男">男</option>
          <option value="女">女</option>
          <option value="其他">其他</option>
        </select>
      </div>
      <div class="cp-input-group">
        <label>电话号码</label>
        <div class="hide-on-edit cp-edit-display"><%= user.phone_number || "369958" %></div>
        <input type="text" class="show-on-edit" name="phone_number" value="<%= user.phone_number %>">
      </div>
      <div class="cp-input-group">
        <label>衣服尺寸</label>
        <div class="hide-on-edit cp-edit-display"><%= user.tshirt_size || "童装" %></div>
        <select class="show-on-edit" name="tshirt_size" value="<%= user.tshirt_size %>">
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          <option value="XXL">XXL</option>
          <option value="XXXL">XXXL</option>
        </select>
      </div>
    </div>
  </form>
</div>

<% if(express_contest_sign && express_contest_sign.has_award) { %>

<div class='panel panel-default cp-edit'>
  <form id="form-info" method="post" action="/modify_express" <%= express_contest.express_info_end ? 'disabled' : '' %>>
    <div class='panel-heading'>
      比赛《<%= express_contest.title %>》的快递信息
      <% if (express_contest.express_info_end) {%>
        <div class="cp-sidenote">填写已结束</div>
      <% } else { %>
        <div class="cp-sidenote">用于奖品</div>
      <% } %>
      <i class="hide-on-edit edit-btn fa fa-pencil"></i>
      <button class="invisible show-on-edit done-btn" type="submit"><i class="fa fa-check"></i></button>
    </div>
    <div class='panel-body'>
      <div class="cp-input-group">
        <label>收件人</label>
        <div class="hide-on-edit cp-edit-display"><%= express_contest_sign.receiver %></div>
        <input type="text" class="show-on-edit" name="receiver" value="<%= express_contest_sign.receiver %>">
      </div>
      <div class="cp-input-group">
        <label>收件人电话</label>
        <div class="hide-on-edit cp-edit-display"><%= express_contest_sign.phone %></div>
        <input type="text" class="show-on-edit" name="phone" value="<%= express_contest_sign.phone %>">
      </div>
      <div class="cp-input-group-row">
        <div class="cp-input-group">
          <label>省</label>
          <div class="hide-on-edit cp-edit-display"><%= express_contest_sign.prov %></div>
          <select class="show-on-edit" id="express_province" name="prov" value="<%= express_contest_sign.prov %>">
          </select>
        </div>
        <div class="cp-input-group">
          <label>市</label>
          <div class="hide-on-edit cp-edit-display"><%= express_contest_sign.city %></div>
          <select class="show-on-edit" id="express_city" name="city" value="<%= express_contest_sign.prov %>">
          </select>
        </div>
        <div class="cp-input-group">
          <label>县(区)</label>
          <div class="hide-on-edit cp-edit-display"><%= express_contest_sign.county %></div>
          <select class="show-on-edit" id="express_area" name="county" value="<%= express_contest_sign.prov %>">
          </select>
        </div>
      </div>
      <div class="cp-input-group">
        <label>详细地址</label>
        <div class="hide-on-edit cp-edit-display"><%= express_contest_sign.addr %></div>
        <input type="text" class="show-on-edit" name="addr" value="<%= express_contest_sign.addr %>">
      </div>
    </div>
  </form>
</div>

<script>
  function flashProvinces() {
    $.get('/express_mdb?level=province', function(data) {
      $('#express_province').html('<option></option>');
      for(var i = 0; i < data.length; i ++) {
        var x = $('<option>');
        x.text(data[i].name);
        x.attr('value', data[i].name);
        x.attr('data-id', data[i].id);
        $('#express_province').append(x);
      }
      flashCities();
    });
  }
  function flashCities() {
    $('#express_city').html('<option></option>');
    $('#express_area').html('<option></option>');

    var value = $('#express_province').val() || $('#express_province').attr('value');
    console.log(value);
    if (!value || !value.length) return;
    var id = $('#express_province').find('option[value="' + value + '"]').attr('data-id');

    $.get('/express_mdb?level=city&parentId='+id, function(data) {
      console.log(data);
      for(var i = 0; i < data.length; i ++) {
        var x = $('<option>');
        x.text(data[i].name);
        x.attr('value', data[i].name);
        x.attr('data-id', data[i].id);
        $('#express_city').append(x);
      }
      flashAreas();
    });
  }
  function flashAreas() {
    console.log('flashAreas');
    $('#express_area').html('<option></option>');

    var value = $('#express_city').val() || $('#express_city').attr('value');
    if (!value || !value.length) return;
    var id = $('#express_city').find('option[value="' + value + '"]').attr('data-id');

    $.get('/express_mdb?level=area&parentId='+id, function(data) {
      console.log(data);
      for(var i = 0; i < data.length; i ++) {
        var x = $('<option>');
        x.text(data[i].name);
        x.attr('value', data[i].name);
        x.attr('data-id', data[i].id);
        $('#express_area').append(x);
      }
    });
  }
  
  flashProvinces();
  $('#express_province').change(function() {
    flashCities();
  });
  $('#express_city').change(function() {
    flashAreas();
  });
</script>

<% } %>

<script>
  $(function() {
    $('select').each(function() {
      var value = $(this).attr('value');
      if (!value) return;
      $(this).find('option[value="' + value + '"]').attr('selected', true);
    });
  });
</script>

<script>
$(function () {
  $('.cp-edit .edit-btn').click(function () {
    var $root = $(this).parents('.cp-edit');
    console.log($root);
    $root.toggleClass("editing");
  });
});
</script>
