<style>
  .switch_on_click {
    cursor: pointer;
  }

  .switch_on_click_mark {
    color: rgba(0, 0, 0, .3);
  }

  .switch_on_click_copy {
    cursor: pointer;
    color: rgba(0, 0, 0, .3);
  }
</style>

<div class='panel panel-default cp-edit'>
  <form method="post" action="/su">
    <div class='panel-heading'>
      su
    </div>
    <div class='panel-body'>
      <div class="cp-input-group">
        <input type="text" class="hide-on-edit" name="username">
      </div>
    </div>
  </form>
</div>

